{% assign product_vendor_handle = product.vendor | handle %}
{% if collections[product_vendor_handle].handle == product_vendor_handle %}
{% assign vendor_url = collections[product_vendor_handle].url %}
{% else %}
{% assign vendor_url = product.vendor | url_for_vendor %}
{% endif %}

<div class="mb-8">
  {% include 'breadcrumbs' %}
</div>

<div class="container">
  
  <article itemscope itemtype="http://schema.org/Product">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
    <meta itemprop="image" content="{{ product.featured_image.src | product_img_url: '1204x1024' }}" />
    <div class="lg:flex">
      <div class="lg:order-last flex-1">
        {% if product.images.size > 1 %}
        
        <div class="js-product-slider cac-product-slider">
          {% for image in product.images %}
          <div class="cac-product-slider__slide">
            <div class="relative aspect-ratio-4/3">
              <img
                class="js-product-lightbox absolute inset-0 w-full h-full object-contain cursor-pointer"
                src="{{ image.src | product_img_url: '768x590' }}"
                srcset="{{ image.src | product_img_url: '768x590' }} 1x, {{ image.src | product_img_url: '768x590' scale: 2 }} 2x"
                alt="{{ image.alt | escape }}"
                data-zoom="{{ image.src | product_img_url: '1080x1080' }}"
              />
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="">
          <ul class="js-product-slider-nav list-none pl-0 flex justify-center my-4 -mx-1">
            {% for image in product.images %}
            <li class="mx-1">
              <img
                class="cursor-pointer"
                src="{{ image.src | product_img_url: '72x72', crop: 'center' }}" alt="{{ image.alt | escape }}"
              />
            </li>
            {% endfor %}
          </ul>
        </div>
        
        {% else %}    
        {% for image in product.images %}
        <div class="relative aspect-ratio-4/3">
          <img
          class="js-product-lightbox absolute inset-0 w-full h-full object-contain cursor-pointer"
          src="{{ image.src | product_img_url: '768x590' }}"
          srcset="{{ image.src | product_img_url: '768x590' }} 1x, {{ image.src | product_img_url: '768x590' scale: 2 }} 2x"
          alt="{{ image.alt | escape }}"
          data-zoom="{{ image.src | product_img_url: '1080x1080' }}"
          />
        </div>
        {% endfor %}
        {% endif %}
      </div>

      <div class="w-full lg:w-1/3 mt-4 lg:mt-0">
        <form class="custom cart-form" action="/cart/add" method="post" enctype="multipart/form-data">
          <h1 class="text-xl mb-0" itemprop="name">{{ product.title }}</h1>
          
          <div class="uppercase text-sm" itemprop="brand">
            {{ product.vendor | link_to: vendor_url }}
          </div>
          
          <div class="my-4" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
            {% if product.available %}
            <link itemprop="availability" href="http://schema.org/InStock" />
            {% else %}
            <link itemprop="availability" href="http://schema.org/OutOfStock" />
            {% endif %}
            <p class="text-lg">
              {% if product.price_varies %}
              <span itemprop="price">{{ product.price | money }} - {{ product.price_max | money }}</span>
              {% else %}
              <span itemprop="price">{{ product.price | money }}</span>
              {% endif %}
            </p>
          </div>
          
          <div class="my-4">
            <select class="form-select text-sm" id="variant-listbox" name="id">
              {% for variant in product.variants %}
                <option
                  {% if variant.inventory_quantity <= 0 and variant.available == false %}DISABLED {% endif %}
                  value="{{ variant.id }}"
                >
                  {{ variant.title }} - {{ variant.price | money }}
                </option>
              {% endfor %}
            </select>
          </div>
          
          <div class="my-4">
            {% if product.available %}
            <p>
              <label class="form-label text-xs uppercase text-gray-500" for="quantity">QTY</label>
              <input class="form-input w-20" id="quantity" type="number" name="quantity" value="1" />
            </p>
            <button class="btn btn--green" type="submit" name="add" id="add">Add to Cart</button>
            {% else %}
              {% unless product.has_only_default_variant %}
              <p class="text-sm italic p-1 bg-gray-100">
                <i class="fal fa-exclamation-triangle"></i>
                This variant is sold out please select another
              </p>
              {% else %}
              <p class="text-sm italic p-1 bg-gray-100">
                <i class="fal fa-exclamation-triangle"></i>
                This product is currently not for sale online please contact us for more information.
              </p>
              {% endunless %}
            {% endif %}
          </div>
          
          <div class="my-4" class="hidden">
            <p>{{ settings.back_order_msg | replace: '%s', '<span class="selected-variant"></span>' }}</p>
          </div>
        </form>
        <div class="text-sm">
          {{ product.description }}
        </div>
      </div>
    </div>
    
    
    {% if collection && collection.handle != 'all' %}
    <div class="my-8 p-4 bg-gray-100 text-center">
      <h3>
        Collection: {{ collection.title }}
      </h3>
      
      {% if collection.previous_product or collection.next_product %}
      
      {% if collection.previous_product %}
      <a class="btn btn--small" href="{{ collection.previous_product.url }}">Previous</a>
      {% else %}
      <a class="btn btn--small btn--disabled">Previous</a>
      {% endif %}
      
      {% if collection.next_product %}
      <a class="btn btn--small" href="{{ collection.next_product.url }}">Next</a>
      {% else %}
      <a class="btn btn--small btn--disabled">Next</a>
      {% endif %}
      
      {% endif %}
      
      <a class="btn btn--small" href="{{ collection.url }}">View Collection</a>  
      
    </div>
    {% endif %}
    
  </article>
  
  <aside class="py-8">
    {% include 'related-products' %}
  </aside>
  
</div>