<nav role="navigation">
  <ul class="navbar">
    {% for link in linklists[settings.header-mainmenu-linklist].links %}
      {% if link.links != blank %}
        <li class="navbar__item dropdown">
          <a class="navbar__link"
            href="{{ link.url }}">
            {{ link.title }}
            <i class="ml-2 fal fa-caret-down"></i>
          </a>
          <ul class="dropdown__menu">
            {% for childlink in link.links %}
              <li class="dropdown__item">
                <a
                  class="dropdown__link"
                  href="{{ childlink.url }}">
                  {{ childlink.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li class="navbar__item">
          <a
            class="navbar__link"
            href="{{ link.url }}">
            {{ link.title }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
